
body {
    font-family: Figtree;
    font-weight: 500;
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    margin: 15px;
}

nav {
    padding: 0%;

}

h1 {
    font-size: 1em;
    background-color: rgb(39, 31, 82);
    padding: 30px;
}

h2 {
    font-size: 2.5em;
}

.head-wrapper {
    text-align: center;
}

body {
    font-size: 1.5em;
    font-family: Figtree;
}

nav ul{
    padding: 0%;
}

nav li a {
    font-weight: 600;
    display: block;
    background-color: rgb(118, 184, 162);
    text-decoration: none;
    color: rgb(14, 75, 44);
    padding: 0.5em 1em;
    border-bottom: solid 2px rgb(32, 32, 32);
}

nav li li a {
    background-color: rgba(49, 49, 92, 0.774);
    color: white;
    font-weight: 300;
    font-size: .90em;
}

nav li li a:hover {
    background-color: rgba(92, 92, 170, 0.836);
    font-weight: 400;
    font-size: .98em;
    padding-left: 40px;
}

li {
    list-style-type: none;
}

li.dropdown ul {
    display: none;
}

li.dropdown:hover ul {
    display: block;
}

.material-symbols-outlined {
    font-size: 40px;
    color: white;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

img {
    width: 70%;
}

.layout {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2%;
    grid-column-gap: 1em; 
}

.text-wrapper {
    padding-top: 200px;
    padding-left: 50px;
}