body {
    margin: 15px 0px;
    font-family: Manrope;
    padding: 0%;
}
nav ul{
    padding: 0%;
}

nav li a {
    font-weight: 600;
    display: block;
    background-color: rgb(118, 184, 162);
    text-decoration: none;
    color: rgb(14, 75, 44);
    padding: 0.5em 1em;
    border-bottom: solid 2px white;
    text-align: center;
}

nav li li a {
    background-color: rgba(49, 49, 92, 0.774);
    color: white;
    font-weight: 300;
    font-size: .90em;
}

nav li li a:hover {
    background-color: rgba(92, 92, 170, 0.836);
    font-weight: 400;
    font-size: .98em;
}

li {
    list-style-type: none;
}

li.dropdown ul {
    display: none;
}

li.dropdown:hover ul {
    display: block;
}

form {
    padding: 10px 0px;
}

.start-text {
    margin: 0%;
    color: #56744C;
    font-size: 1.8em;
    width: 50%;
    text-align: left;
    font-weight: 800;
    padding-left: 15px;
}

h2 {
    text-align: center;
}

.dropdown {
    position: absolute;
    right: 15px;
    top: 15px;
}

.top-nav {
    padding-bottom: 10px;
}

.start-wrapper {
    background: url(images/Group3.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0px;
    text-align: center;
    display: flex;
    align-items: center;
}

.start-link {
    color: inherit;
    background: url(images/Rectangle4.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 70px 100px;
}

.apply-link {
    background-color: rgb(71, 71, 71);
    color: white;
    text-decoration: none;
    padding: 10px 50px;
}

.queens-app p {
    font-size: .9em;
}