body {
    margin: 0 auto;
    font-family: Manrope;
    padding: 0;
    background-color: #141414;
    width: 100%;
    max-width: 100%;
}

header {
    background-color: #252533;
    margin: 0 auto;
    width: 100%;
}

nav ul {
    padding: 0%;
}

nav li a {
    font-weight: 600;
    display: block;
    /* background-color: rgb(118, 184, 162); */
    text-decoration: none;
    color: #ffffff;
    padding: 0em 1em;
    font-size: 1.2em;
    text-align: center;
}


/* #topmenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #141414a4;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
} */

#topmenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #141414a4;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
}

#topmenu.open {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
}

#topmenu-wide {
    display: none;
}

.burger-icon img {
    width: 40px;
}

input {
    font-family: Manrope;
    font-weight: 500;
}

nav li li a {
    background-color: rgba(49, 92, 74, 0.945);
    color: #ffff;
    font-weight: 400;
    font-size: .90em;
    margin: 2px;
    padding: 10px 20px;
    border-radius: 3px;
}

nav li li a:hover {
    background-color: rgba(92, 92, 170, 0.836);
    font-weight: 400;
    font-size: .98em;
    transition: .2s ease-in;
}

li {
    list-style-type: none;
}

li.dropdown ul {
    background-color: #141414a4;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-programs {
    position: relative;
}

.dropper {
    background-color: #141414a4;
    padding: 1px;
    border-radius: 5px;
    position: absolute;
    min-width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    pointer-events: none;

}

.dropper.open {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
}

a.program-button {
    border: 2px solid #f1f1f199;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    font-family: Marcellus SC;
    font-weight: 300;
}

/* li.dropdown:hover ul {
    display: block;
}

.dropdown-programs:hover .dropper {
    display: block;
} */

form {
    padding: 10px 0px;
    border: none;
}

.start-text {
    margin: 0%;
    color: #e7e7e7;
    font-size: 1.8em;
    width: 50%;
    font-family: Marcellus SC;
    text-align: center;
    font-weight: 300;
    /*padding-left: 15px;*/
}

h2 {
    text-align: center;
}

.browse-header {
    font-family: Marcellus SC;
    color: white;
    font-size: 2.8em;
    font-weight: 300;
    text-align: center;
}

.dropdown {
    position: absolute;
    right: 15px;
    top: 0px;
}

.top-nav {
    padding-bottom: 10px;
}

.top-nav img {
    padding-left: 40px;
    padding-top: 20px;
    width: 40px;
}

.start-wrapper {
    background: linear-gradient(319deg, #7870f3, #2d29c0, #716bf0, #6828c7);
    background-size: 240% 240%;
    animation: gradient-animation 1s ease infinite;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

@keyframes start-wrapper {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.desktop-img {
    display: none;
    position: absolute;
}

.start-link {
    color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 10px 20px;
    color: #e7e7e7;
    background-color: #0a04425d;
    margin-top: 40px;
    border-radius: 30px;
}

.apply-link {
    background-color: #D0D0D0;
    color: black;
    background: url(images/Rectangle4.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 30px 70px;
}

.queens-app {
    display: flex;
    align-items: center;
    background: url(images/queens-back.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 10px;
}

.queen-img {
    display: none;
}

.queens-app p {
    font-size: .9em;
    color: #D0D0D0;
}

.queens-app-width {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-text {
    padding-right: 70px;
    padding-top: 10px;
}

article img {
    max-width: 90%;
}

article a {
    color: white;
}

.article-des {
    padding: 0px 10px;
}

article p {
    font-size: .9em;
}

article h3 {
    padding: 0px 10px;
    margin: 0%;
}

article h3 a {
    text-align: center;
    font-size: .9em;
    margin: 0%;
    color: white;
}

#img-news {
    color: white;
}

.article-subtext {
    font-size: .75em;
    font-weight: 400;
}

.news-center {
    color: white;
}

.programs {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
}

.programs-cards {
    margin: 0px -5px;
}

.programs-cards a:hover {
    background: white;
}

.programs-cards a {
    background: rgb(231, 231, 231);
    text-decoration: none;
    color: #141414;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.programs-cards a img {
    transform: scaleY(0);
    position: absolute;
    margin-top: 10px;
    margin-right: 20px;
    width: 300px;
    max-width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px !important;
}

.alt-style .programs-cards a img {
    transform: scaleY(1);
    position: relative;
    margin-top: 10px;
    margin-right: 0px;
    width: 400px;
    max-width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px !important;
    transition: width 0.2s ease;
}

.card-link {
    display: flex;
}

.alt-style .card-link {
    display: flex;
    flex-direction: column;
    /* stack image above text */
    align-items: center;
    gap: 10px;
    transition: width 0.5s ease;
}

.pro-tags {
    display: flex;
    justify-content: space-around;
    font-size: .73em;
    padding: 5px;
}

.pro-tags p {
    /* background-color: #a5a5a5; */
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
}

.pro-tags p strong {
    padding-right: 4px;
}

.titles {
    padding-left: 10px;
    text-decoration: none;
    font-size: .9em;
}

.pro-body-texts {
    padding: 5px;
    text-decoration: none;
    font-size: .9em;
}

.label {
    font-weight: bold;
    margin-right: 4px;
}

.titles-bold {
    font-weight: 800;
    color: #223c5a;
    font-size: 1em;
    text-shadow: 1px 1px #00000048;
}

/* .subtitles-bold {
    font-weight: 800;
} */

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    /*     padding: 0px 90px 20px; */
    justify-items: center;

}

.style-change {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.style-change button {
    border: none;
    margin: 0px 10px;
    padding: 10px 15px;
    font-family: Manrope;
    background: #a7ccedb6;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: 600;
    font-size: .9em;
}

footer {
    color: white;
    background: #252533;
    padding: 5px 0px;
    margin: 0px -5px;
    bottom: 0px;
}

.de-color-a {
    background-color: #E4B87A;
}

.de-color-aA {
    background-color: #B19062;
}

.de-color-bfa {
    background-color: #a2b162;
}

.de-color-bs {
    background-color: #65b162;
}

.de-color-bA {
    background-color: #62b183;
}

.de-color-aA {
    background-color: #B19062;
}

.di-color-a {
    background-color: #7E6B8F;
}

.di-color-b {
    background-color: #A3D9FF;
}

.di-color-c {
    background-color: #F2E94E;
}

.bor-color-a {
    background-color: #2E5077;
    color: rgb(243, 243, 243);
}

.bor-color-b {
    background-color: #4DA1A9;
}

.bor-color-c {
    background-color: #611C35;
}

.bor-color-d {
    background-color: #D7E8BA;
}

.bor-color-e {
    background-color: #FFA630;
}

footer p {
    padding-left: 5px;
    font-size: .8em;
}

.home_start {
    padding: 0px;
}

@media (min-width: 1100px) {
    body {
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }

    /*     #topmenu {
        display: none;
    } */

    #topmenu-wide {
        display: flex;
    }

    header {
        padding: 15px 0px;
    }

    .top-nav {
        padding-bottom: 0px;
    }

    .top-nav img {
        width: 50px;
    }

    input {
        height: 30px;
        width: 200px;
        color: #7c7c7c;
    }

    .dropdown {
        top: 15px;
    }

    .top-nav a {
        padding: 20px;
    }

    .burger-icon {
        display: none;
    }


    li.dropdown ul {
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: -22px 0px;
        background-color: #14141400;
        padding: 0px;
        border-radius: 0px;
    }

    li.dropdown:hover ul {
        display: flex;
    }

    nav li a {
        background-color: #00000056;
        margin: 0px 20px;
        padding: 10px 25px;
        border-radius: 30px;
        font-size: 2em;
    }

    a.program-button {
        background: none;
        border: none;
        width: 200px;
        text-align: center;
        color: rgb(226, 226, 226);
    }

    a.program-button:hover {
        border-bottom: 3px solid white;
        border-radius: 0px;
        color: white;
        transition: all 0.1s ease;
        font-size: 2.2em;
    }

    nav li li a {
        font-size: 1em;
        background: none;
        font-weight: 500;
        margin: 20px;
    }

    nav li li a:hover {
        font-size: 1em;
    }

    .dropper {
        border: 2px solid rgba(255, 255, 255, 0.671);
    }

    /*     .start-wrapper {
        background-color: aqua;
        background: url(images/gradient-background2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        padding: 200px 0px;
    } */

    .start-wrapper {
        flex-direction: column;
        padding: 130px 0px;
        margin: 20px 0px;
    }

    .home_start {
        padding: 200px 0px;
    }

    .desktop-img {
        display: none;
    }

    .queens-app {
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        margin: 0px ;
    }

    .queens-app p {
        font-size: 1.7em;
        padding-right: 30px;
        padding-left: 30px;
    }

    .queens-app-text {
        display: none;
    }

    .queens-app-width {
        display: block;
        font-size: 1.2em;
        padding: 40px;
    }

    .queens-app-width a {
        color: #5B66E3;
        text-decoration: none;
    }

    .queens-app-width a:hover {
        color: #6774fa;
        font-weight: 600;
        transition: .2s;
        border-bottom: 3px solid #6774fa;
    }

    .apply-link {
        font-size: 2em;
        background-size: contain;
        padding: 30px 70px;
        display: none;
    }

    .queen-img {
        display: flex;
        padding-left: 30px;
    }

    .queen-img img {
        /*         box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px !important; */
        border-radius: 5px; 
        width: 90%;
        max-width: 100%;
    }

    .start-text {
        text-align: center;
        font-size: 3em;
    }

    .start-link {
        background-size: 100%;
        font-weight: 500;
        font-size: 2em;
    }

    .browse-header {
        padding-left: 150px;
        text-align: left;

    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 90px 20px;
        justify-items: center;
    }

    .style-change {
        display: none;
    }

    .article-des {
        width: 90%;
    }

    article h3 {
        width: 100%;
    }

    .article-subtext {
        padding: 0%;
    }

    article a {
        padding: 0%;
    }

    section h2 {
        font-size: 2.2em;
    }

    .programs {
        top: 40%;
    }

    .programs-cards a img {
        display: block;
        position: relative;
        transform: scaleY(1);
    }

    .programs-cards a {
        border-radius: 5px;
        padding: 30px 50px;
        margin: 40px 150px;
    }

    .programs-cards a:hover {
        outline: 6px solid rgba(131, 131, 131, 0.452);
        transition: all 0.1s ease;

    }

    .pro-tags {
        /* padding: 0px 300px; */
        padding-top: 20px;
        font-size: 1em;
    }

    .pro-tags p {
        padding: 15px;
        margin: 2px 35px;
    }

    .titles-bold {
        font-size: 1.2em;
        font-weight: 800;
    }

    .titles {
        font-size: 1.2em;
    }

    .pro-body-texts {
        font-size: 1.1em;
    }

    footer {
        position: relative;
    }

    footer p {
        padding-left: 10px;
        font-size: .8em;
        margin: 0px 0px;
    }
}

@media (min-width: 1100px) and (max-width: 1179px) {
    .pro-body-texts {
        font-size: .9em;
    }

}

/* @media (min-width: 340px) {
    body {
        margin: 0% auto;
    }

} */