body {
    margin: 0px 5px 0px 5px;
    font-family: Manrope;
    padding: 0%;
    background-color: #141414;
}

header {
    margin: 0px -5px;
    padding: 15px 0px;
    background: url(images/top-navbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    padding: 0%;
}

nav li a {
    font-weight: 600;
    display: block;
    /* background-color: rgb(118, 184, 162); */
    text-decoration: none;
    color: #ffffff;
    padding: 0em 1em;
    font-size: 1.2em;
    text-align: center;
}

#topmenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #141414a4;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.burger-icon img {
    width: 40px;
}

nav li li a {
    background-color: rgba(49, 92, 74, 0.774);
    color: #ffff;
    font-weight: 300;
    font-size: .90em;
    margin: 2px;
    padding: 10px 20px;
}

nav li li a:hover {
    background-color: rgba(92, 92, 170, 0.836);
    font-weight: 400;
    font-size: .98em;
}

li {
    list-style-type: none;
}

li.dropdown ul {
    display: none;
    background-color: #141414a4;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-programs {
    position: relative;
}

.dropper {
    display: none;
    background-color: #141414a4;
    padding: 1px;
    border-radius: 10px;
    position: absolute;
    min-width: 100%;
    
}

a.program-button {
    border: 2px solid #f1f1f199;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}

li.dropdown:hover ul {
    display: block;
}

.dropdown-programs:hover .dropper {
    display: block;
}

form {
    padding: 10px 0px;
}

.start-text {
    margin: 0%;
    color: #e7e7e7;
    font-size: 1.8em;
    width: 50%;
    text-align: center;
    font-weight: 800;
    /*padding-left: 15px;*/
}

h2 {
    text-align: center;
}

.dropdown {
    position: absolute;
    right: 15px;
    top: 0px;
}

.top-nav {
    padding-bottom: 10px;
}

.top-nav img {
    padding-left: 40px;
    padding-top: 20px;
}

.start-wrapper {
    background: url(images/blue-back-2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0px;
    margin: 20px -5px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desktop-img {
    display: none;
    position: absolute;
}

.start-link {
    color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 10px 20px;
    color: #e7e7e7;
    background-color: #0a04425d;
    margin-top: 40px;
    border-radius: 30px;
}

.apply-link {
    background-color: #D0D0D0;
    color: black;
    background: url(images/Rectangle4.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 30px 70px;
}

.queens-app {
    display: flex;
    align-items: center;
    background: url(images/queens-back.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 10px;
}

.queen-img {
    display: none;
}

.queens-app p {
    font-size: .9em;
    color: #D0D0D0;
}

.queens-app-width {
    display: none;
}

.news-center {
    display: flex;
    flex-direction: column;
}

article img {
    padding: 10px;
}

article a {
    color: white;
}

.article-des {
    padding: 0px 10px;
}


article h3 {
    padding: 0px 10px;
    margin: 0%;
}

article h3 a {
    text-align: center;
    font-size: .9em;
    margin: 0%;
    color: white;
}

#img-news {
    color: white;
}

.article-subtext {
    padding: 0px;
    font-size: .75em;
    font-weight: 400;
}

.news-center {
    color: white;
}

.programs {
    display: flex;
    padding-top: 90px;
}

@media (min-width: 1240px) {
    body {
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }

    #topmenu {
        display: flex;
        background: none;
        border-radius: 5px;
        padding: 0px;
        position: relative;
    }

    .dropdown {
        top: 15px;
    }

    .top-nav a {
        padding-top: 20px;
    }

    .burger-icon {
        display: none;
    }
    

    li.dropdown ul {
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: -22px 0px;
        background-color: #14141400;
        padding: 0px;
        border-radius: 0px;
    }

    li.dropdown:hover ul {
        display: flex;
    }

    nav li a {
        background-color: #00000056;
        margin: 0px 20px;
        padding: 10px 25px;
        border-radius: 30px;
        font-size: 2em;
    }

    a.program-button {
        border: 2px solid #f1f1f199;
        width: 200px;
        text-align: center;
    }

    nav li li a {
        font-size: 1em;
        background: none;
        font-weight: 500;
        margin: 20px;
    }

    nav li li a:hover {
        font-size: 1em;
    }

    .start-wrapper {
        background-color: aqua;
        background: url(images/gradient-background2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        padding: 200px 0px;
    }

    .desktop-img {
        display: none;
    }

    .queens-app {
        background-color: aqua;
        background: url(images/queens-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 120px 0px 120px 80px;
        justify-content: center;
        margin: 0px 0px;
    }

    .queens-app p {
        font-size: 1.7em;
        padding-right: 30px;
        padding-left: 30px;
    }

    .queens-app-text {
        display: none;
    }

    .queens-app-width {
        display: block;
        font-size: 1.2em;
        padding: 40px;
    }

    .queens-app-width a {
        color: #5B66E3;
    }

    .apply-link {
        font-size: 2em;
        background-size: contain;
        padding: 30px 70px;
        display: none;
    }

    .queen-img {
        display: flex;
        padding-left: 30px;
    }
    
    .queen-img img{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px !important;
        border-radius: 5px;
    }

    .start-text {
        text-align: center;
        font-size: 3em;
    }

    .start-link {
        background-size: 100%;
        font-weight: 500;
        font-size: 2em;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 90px;
        justify-items: center;
    }

    .article-des {
        width: 90%;
    }

    article h3 {
        width: 100%;
    }

    section h2 {
        font-size: 2.2em;
    }
}