body {
    color: rgb(255, 255, 255);
    background:
        linear-gradient(180deg, #4E94CD 0%, rgba(39, 74, 103, 0.00) 80%);
    background-color: rgb(34, 34, 34);
    font-family: Manrope;
    margin: 0%
}

.banner {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 11px solid;
    border-style: solid none solid none;
    color: #000000a2;
}

#wrapper {
    width: 1440px;
    height: fit-content;
    margin: 0 auto;
    padding: 10px;
}

header {
    margin: 0%;
    padding: 1em;
    padding-top: 9em;
    padding-bottom: 9em;
    padding-left: 8em;
    background:
        linear-gradient(90deg, #000 0%, #0F0F0F 51%, rgba(0, 0, 0, 0.00) 80%),
        url("images/GY3VKX1MR-backdrop_wide 1.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
}

.play_button_container {
    display: flex;
    justify-content: center;
}

.play_button {
    text-decoration: none;
    color: inherit;
    font-size: xx-large;

}

.nav_links {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.nav_links ul {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav_links li {
    display: flex;
    margin: 0;
    justify-content: center;
    flex: 1;
}

.nav_links_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    background: url("rectangle1.svg");
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: center;
    padding: 20px 50px;
    margin: 0;
    width: 100%;
}

.season_links_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    background: url("rectangle1.svg");
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
    padding: 20px 50px;
    margin: 0;
    width: 100%;
}

.down_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    background: url("down_arrow.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    padding: 20px 50px;
    margin: 0;
    width: 100%;
}

.season_number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    background: url("rectangle5.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    padding: 20px 50px;
    margin: 0;
    width: 100%; 
}

.season_number a {
    color: white;
}

li {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 30px;
    font-weight: 300;
}

li a {
    color: rgb(24, 24, 24);
    text-decoration: none;
}

li strong {
    font-weight: 800;
}

.content_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: .85;
    text-shadow: 1px 1px 0px #444;
    padding: 15px;
}

.title p {
    margin: 0px;
}

.title_under {
    font-size: .5em;
    font-weight: 200;
}

.title_under p {
    margin-top: 5px;
}

.desc_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    flex: .5;
}

.desc {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 40px;
    width: 100%;
    text-align: left;
}

.tags {
    display: flex;
    align-items: flex-end;
    text-align: end;
    flex-direction: column;
    flex: .5;
}

.play_button {
    font-size: 2.7em;
    font-weight: 900;
}

.play_button_container {
    display: flex;
    padding-bottom: 30px;
}

.button_wrapper {
    background-color: #00000060;
    padding: 5px 60px 5px 60px;
    border-radius: 15px;
    border-style: solid;
    color: #ffffffb7;
}

footer p {
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
}

.episode_title {
    text-align: center;
}

.episode_title p {
    font-size: 2.5em;
    font-weight: 700;
}

.release_info {
    text-align: center;
    font-size: 1.25em;
}

.epi_card {
    background: url(epi_card.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 292px;
    width: 20%;
    padding: 15px;
}

.ep_img {
    text-align: center;
}

.ep_title {
    text-align: center;
    font-weight: 600;
}

.epi_card p {
    color: #000;
}